*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.header{
  font-family: 'Anton', sans-serif;
  color: lightslategrey;
  opacity: 1;
}

body{
  background-color: #141414;
}

.dropdown-toggle{
  white-space: normal;
  
}

.movie{
  margin: 1rem;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  
}

