*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


.btn-primary{
  float: left;
  justify-content: left;
  word-spacing: initial;
  margin-left: 20px;
}




.header{
  font-family: 'Anton', sans-serif;
  color: red;
  opacity: 1;
  border-spacing: 1000px;
  padding: auto;
}

body{
  background-color: #141414; 
  float: initial;
}



.dropdown-toggle{
  white-space: normal;
  
}

.movie{
  margin: 1rem;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-auto-flow: column; 
}


