*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.choose-decade{
  align-items: center;
}


.header{
  font-family: 'Anton', sans-serif;
  color: lightslategrey;
}

.choose-genre{
  height: 40px;
  margin-top: 28px;
  align-items: center;
}

body{
  background-color: black;
}

.dropdown-basic{
  margin-top: 20px;
  align-self: center;
}